html,
body {
  height: 100%; }

body {
  background: #151515;
  /* Adjust font size to to change clock size */
  
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);

}

#tips{

}
#logo{
	margin-left: auto;
	margin-right: auto;
	display:block;
    bottom: 0;
	margin-left: auto;
	margin-right: auto;
	position:fixed;
}
  
h1{
	font-size: 60px;
	  color:white;
} 
h2{
	color:white;
}
h3{
	color:white;
}

label{
	color:white;
	font-size:50px;
}
.form-control{
	background:black;
	background: -webkit-linear-gradient(#222222 0%, #383838 50%, #222222 100%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#222222 0%, #383838 50%, #222222 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#222222 0%, #383838 50%, #222222 100%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#222222 0%, #383838 50%, #222222 100%);
	color:white;
}

.input-lg{
	height: 80px;
	padding:0;
	font-size:50px;
	border-radius:0px;
	width:100%;
	border: 1px solid black;
}	

.clock {
  font: 800%/1.5em "Droid Sans Mono", monospace;
  background: black;
  border: 1px solid black;
  box-shadow: 0 0 0 1px #333333;
  display: inline-block;
  margin: 50px 0 0 0;
  height: 1.5em;
  /* Remove the line below to see behind the curtain */
   overflow: hidden;}

.clock .col {
  background: linear-gradient(#222222 0%, #383838 50%, #222222 100%);
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  float: left;
  height: 100%;
  margin: 0 1px 0 0;
  position: relative; }

.clock .col:last-child {
  margin: 0; }

.clock .col:before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2; }

.clock span {
  color: white;
  display: block;
  width: 1em;
  word-break: break-all;
  word-break: break-word; }

.clock .d,
.clock .per {
  position: relative;
  top: 0;
  transition: top; }

.clock .d:before {
  content: " 0 1 2 3 4 5 6 7 8 9 "; }

.clock .d1 {
  top: -1.5em; }

.clock .d2 {
  top: -3em; }

.clock .d3 {
  top: -4.5em; }

.clock .d4 {
  top: -6em; }

.clock .d5 {
  top: -7.5em; }

.clock .d6 {
  top: -9em; }

.clock .d7 {
  top: -10.5em; }

.clock .d8 {
  top: -12em; }

.clock .d9 {
  top: -13.5em; }

.clock .c,
.clock .per {
  color: #777777;
  font-size: 0.5em; }

.clock .c {
  width: 0.7em; }

.clock .per {
  width: 2em; }

.clock .per:before {
  content: " AM PM "; }

.clock .per.pm {
  top: -3em; }

 